body {
  margin: 0;
  padding: 0;
  font-family: 'Prata', serif;
  background-color: rgba(164, 198, 250, 1);
  color: #1f329c;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulaire {
  background-color: white;
  border: 2px solid #1f329c;
  border-radius: 12px;
  padding: 40px 30px;
  width: 300px;
  box-shadow: 0 8px 20px rgba(31, 50, 156, 0.1);
  text-align: center;
}

.formulaire h1 {
  margin-bottom: 30px;
  font-size: 24px;
  color: #1f329c;
}

.formulaire label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  text-align: left;
}

.formulaire input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #1f329c;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

.formulaire button {
  background-color: #1f329c;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulaire button:hover {
  background-color: rgba(164, 198, 250, 1);
}

a {
    background-color: #1f329c;
    text-decoration: none;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

a:hover {
  background-color: rgba(164, 198, 250, 1);
}
